/* Estilos básicos para mejorar accesibilidad y usabilidad */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin:0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select,
input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"],
input[type="reset"]{
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]{
    background-color: #28a745;
    color: #fff;
}

input[type="reset"]{
    background-color: #e71127;
    color: white;
}

/* Mejorar el contraste en el foco */

input[type="submit"]:focus,
input[type="reset"]:focus {
    outline: 2px solid #333;
}

.botones{
    display: flex;
    justify-content: space-between;
}